<div class="row m-2">
    <h1>Jobs</h1>
    <%= link_to 'New Job', new_job_path, class: "mb-4" %>
    <% @jobs.each_slice(3) do |jobs| %>
      <div class="row">
        <% jobs.each do |job| %>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
                class="card-img-top"
                alt="..."
                />
              <div class="card-body">
                <h5 class="card-title"><%= job.title %></h5>
                <p class="card-text">
                  <%= truncate(job.description, :length => 50) %>
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <% if job.remote_ok %>
                  <li class="list-group-item">Remote</li>
                <% else %>
                  <li class="list-group-item"><%= job.job_type %></li>
                <% end %>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>



