<div class="row">
  <div class="col">
    <%= form_with url: jobs_path, method: :get do |form| %>
      <div class="mb-4">
        <%= form.text_field :search, autocomplete: "off", autofocus: true, placeholder: "Search Jobs", class: "form-control job-search-bar" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="index-div-tag-cloud">
      <% if Job.all.size > 0 %>
        <span class="index-all-tag-cloud">
          <%= link_to "All", jobs_path %>
        </span>
      <% end %>
      <% Job.all.each_slice(50) do |jobs| %>
        <% jobs.each do |job| %>
          <% job.tag_list.each do |tag| %>
            <span class="index-tag-cloud">
              <%= link_to tag, tag_path(tag: tag) %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
