// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-job-btn {
  background-color: #f1c40f;
  border-radius: 1px;
}

.job-search-bar {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border-color: none;
}