// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jobworks-container {
  margin-top: 54px;
}

.post-job-btn {
  background-color: #f1c40f;
  border-radius: 1px;
}

.job-search-bar {
  width: 100%;
  height: 70px;
  border-color: none;
  padding: 10px;
  font-size: xxx-large;
}

.show-job-author {
  font-size: 10vh;
}

.show-apply-here {
  float: right;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #ff4d4d;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 2em;
  color: white;
}
.show-apply-here:hover {
  color: white;
}
.show-website {
  a {
    text-decoration: underline;
    color: black;
  }
}

.show-div-tag-cloud {
  float: right;
  display: block;
}
.show-tag-cloud {
  background-color: #0076ff;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  text-align: center;
  float: right;

  a {
    text-decoration: none;
    font-family: "Devanagari Sangam MN", "Arial Black";
    color: #FFFFFF;
    text-align: center;
  }
}

.index-div-tag-cloud {
  text-align: center;
  margin: 20px;
  line-height: 45px;

  .index-tag-cloud {
    background-color: #0076ff;
    border-radius: 2px;
    margin: 2px;
    padding: 10px;
    text-align: center;

    a {
      text-decoration: none;
      font-family: "Devanagari Sangam MN", "Arial Black";
      color: #FFFFFF;
      text-align: center;
    }
  }
  .index-all-tag-cloud {
    background-color: #ff4d4d;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    text-align: center;

    a {
      text-decoration: none;
      font-family: "Devanagari Sangam MN", "Arial Black";
      color: #FFFFFF;
      text-align: center;
    }
  }
}

.show-job-created {
  float: right;
  color: #808e9b;
}

.save-btn-jobs {
  width: 100%;
}

.back-btn-jobs {
  background-color: #3498db;
  border-color: #3498db;
  width: 100%;
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.edit-btn-jobs {
  background-color: #e74c3c;
  border-color: #e74c3c;
  width: 100%;
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.delete-btn-jobs {
  background-color: #e74c3c;
  border-color: #e74c3c;
  width: 100%;
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.images-preview-thumb {
  width: 100px;
  margin: 5px;
}

.card-company > a {
  text-decoration: none;
  color: #3498db;
}

.card-title a {
  text-decoration: none;
  color: #e74c3c;
}